body {
	margin: 0;
    overflow: hidden;
}

.plot-box {
 	width: 100%;
  	padding-top: 56.25%;
  	position: relative;
  	display: 'block';
  	opacity: .8;
}

.plot-box iframe {
   border: 0;
   height: 82%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#webgl-output {

}

#mainmenu {
	position: absolute;
	width: 100%;
	height: 50px;
	text-align: center;
	color: white;
}

#outer {
	text-align: center;
}