h1 {
	text-align: center;
	color: white;
	top: 500px;
	font-family: sans-serif;
}

h2 {
	font-style: italic;
	text-align: center;
	color: white;
}

img {
	width: 15%;
}

.nav {
	display: flex;
	border: black 1px solid;
	align-items: center;
	/*text-align: center;*/
	/*position: abs;*/
	/*text-align: center;*/
}

.nav form {
	margin: 10px;
	/*align-items: center;*/
	/*display: flex;*/
	/*align-self: center;*/
	/*position: absolute;*/
}